@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP Basics</h1>
</div>

<div>
    <h3><a href="/Home/Intro">Intro</a>.</h3>
    <h3><a href="/Home/Scheme">Interaction Scheme</a>.</h3>
    <h3><a href="/Home/Razor">Razor</a>.</h3>
    <h3><a href="/Home/Model">Передача модели представлению</a>.</h3>
    
    <h3><a href="/User">User Page</a>.</h3>
    <h3><a href="/Home/URL">URL</a>.</h3>
    <h3><a asp-action="Services">Services</a>.</h3>
    <h3><a asp-action="Context">Контект базы данных</a>.</h3>
</div>