@{
    ViewData["Title"] = "Sessions";
}

<div class="text-center">
    <h1 class="display-4">HTTP - сессии</h1>
</div>

<p>
    HTTP - сессии представляют из себя механизм сохранения данных со стороны сервера
    и привязку их к клиенту. Вообщем, слово "сессия" многозначное,
    как правило означает определенный промежуток времени, "сеанс". Для отделения этого термина
    использоуется термин "HTTP-сессии"
</p>

<p>
    Со стороны клиента (в браузере) данные между обновлением страницы
    сохраняются в средствах localStorage и sessionStorage. Серверные HTTP - сессии
    работают следующим способом
</p>
<ul>
    <li>Сервер стартует (или настраивает) сессию, это устанавливает Cookie
        (параметр, которые запоминает бразуер и автоматически отсылает с каждым запросом
        этому сайту). В Cokie устанавливается случайное число - токен сессии
    </li>
    <li>
        Со стороны сервера создают средства сохранения данных, заложенные в сессии.
        Можно представить, что создаются файлы с именами = токенами сессии.
        При получении запроса из Cokie, открывается определенный файл и обновляются
        сохраненные данные
    </li>
    <li>
        Во время коммуникации в сессии (в файл) сохраняются данные и, если нужно,
        обновляются и анализируются. Поскольку речь идет про запись
        в файл, сохраняются только те данные, которые могут сериализоваться.
        Возможны дополнительные ограничение в разных языках / фреймворках
    </li>
</ul>
<p>
    Про конфигурацию сессий в ASP: <a href="https://learn.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-7.0">документация</a>
</p>
<form action="">
    Сохранить данные в сессии: <input type="number" name="number">
    <button type="submit">Сохранить</button>
</form>

<p>
    Ранее сохраненные данные: @ViewData["number"]
</p>