@{
    ViewData["Title"] = "URL";
}

<div class="text-center">
    <h1 class="display-4">URL (Uniform Resource Locator)</h1>
</div>

<div>
    <h2>Протокол</h2>
    <p>
        Протокол передачи гипертекста (HTTP) является базовым сетевым протоколом, который позволяет передавать 
        гипермедиа документы в Web, обычно между браузером и сервером, таким образом, что бы люди могли их читать.
        Текущая версия спецификации HTTP называется HTTP/2.
        
        Как часть URI (Universal Resource Identifier — универсальный идентификатор ресурса), 
        http:// называется scheme (схема) и обычно стоит в начале адреса, например, 
        в https://google.com, чтобы указать браузеру запросить документ с использованием протокола HTTP. 
        HTTPS в этом случае относится к защищённой версии протокола HTTP, SSL (также называемый TLS).
        
        HTTP является текстовым (все сообщения осуществляются в виде простого текста), без запоминания состояния 
        (нет информации о предыдущих сообщениях). Это свойство делает его идеальным для чтения людьми документов 
        (веб-сайтов) во всемирной паутине.
        
        Браузеры часто могут использовать и другие протоколы, например mailto: (чтобы открыть почтовый клиент) или 
        ftp: для запуска передачи файлов
    </p>
</div>

<div>
    <h2>Домен</h2>
    <p>
        www.example.com это доменное имя. Оно означает, какой веб-сервер должен быть запрошен. 
        В качестве альтернативы может быть использован и IP-адрес, но это делается редко, поскольку запоминать 
        IP сложнее, и это не популярно в интернете.
        
        При вводе доменного имени в адресную строку бразуера,оно отправляется DNS-серверу, где преобразовывается
        в IP-адрес, принадлежащий данному домену. С помощью IP-адреса пользователи получают доступ к веб-сайтам.
        
    </p>
</div>

<div>
    <h2>Порт</h2>
    <p>
        Порт отображает технический параметр, используемый для доступа к ресурсам на веб-сервере. 
        Обычно подразумевается, что веб-сервер использует стандартные порты HTTP-протокола (80 для HTTP и 
        443 для HTTPS) для доступа к своим ресурсам. В любом случае, порт - это факультативная составная часть URL.
    </p>
</div>

<div>
    <h2>Путь (Path)</h2>
    <p>
        /path/to/myfile.html это адрес ресурса на веб-сервере. В прошлом, адрес отображал местоположение 
        реального файла в реальной директории на веб-сервере. В наши дни это чаще всего абстракция, позволяющая 
        обрабатывать адреса и отображать тот или иной контент из баз данных.
    </p>
</div>

<div>
    <h2>Hssh</h2>
    <p>
        # — это специальный символ URL, который сообщает браузеру, что последующая часть адреса представляет собой
        ссылку на HTML элемент с таким id или именованый якорь (named anchor) текущей страницы.
    </p>
</div>

<div>
    <h2>URL-параметры</h2>
    <p>
        ?key1=value1&key2=value2 это дополнительные параметры, которые браузер сообщает веб-серверу. 
        Эти параметры - список пар ключ/значение, которые разделены символом &. Веб-сервер может использовать 
        эти параметры для исполнения дополнительных команд перед тем как отдать ресурс. Каждый веб-сервер имеет 
        свои собственные правила обработки этих параметров.
    </p>
</div>