html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

tr:nth-child(odd) {
  background-color: gray;
}

tr:nth-child(even) {
  background-color: darkgray;
}

table, th, td {
  border: 1px solid purple;
}

header{
  margin-right: 10px;
}

/* Profile */

.main-body {
  margin-top:20px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;
  padding: 15px;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}

/* https://codepen.io/sosuke/pen/Pjoqqp, https://stackoverflow.com/questions/22252472/ */
.color-filter-candy {
  filter: brightness(0) saturate(100%) invert(14%) sepia(70%) saturate(4701%) hue-rotate(357deg) brightness(98%) contrast(105%);
}
.color-filter-parakeet {
  filter: brightness(0) saturate(100%) invert(51%) sepia(43%) saturate(2826%) hue-rotate(106deg) brightness(97%) contrast(98%);
}
.color-filter-pear {
  filter: brightness(0) saturate(100%) invert(62%) sepia(43%) saturate(679%) hue-rotate(47deg) brightness(94%) contrast(89%);
}